* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}
.logo a{
    font-size: 30px;
    font-weight: 800;
    float: left;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
.menu{
    flex: 1;
    text-align: right;
}
.menu ul{
    display: inline-block;
    list-style-type: none;
}
.menu ul li{
    display: inline-block;
    margin-right: 20px;
}
.menu ul li a{
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}
.menu ul li a:hover{
    text-decoration: underline;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
    color: gray;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    color: white;
}
.btn{
    display: inline-block;
    background: gray;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 20px;
    transition: 0.5s;
}
.btn:hover{
    background: yellowgreen;
    
}
header{
    background: url(/Asset/bg3.jpg);
}
.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.col-4 img{
    width: 100%;
}